      <%= f.label 'Answer' %>
      <%= f.text_field :title %>

      <p>
        <%= f.check_box :correct_answer %> Correct Answer
        <%= f.check_box :_destroy %> Remove </p>
      <br>
      <br>
      <%#= form.radio_button_tag :correct_answer, name:"test" %>

  <!-- <div id="radio_buttons">
  <%#= radio_button_tag :correct_answer, name: 'answer', value: 'answer_1' %>Answer 
  <br>
</div> -->
      <%#= form.label :correct_answer, 'Correct Answer' %>
      <%#=  form.radio_button_tag :correct_answer, checked: true %> 
      <%#= form.label :correct_answer, "Correct Answer"%>
      <%#= radio_button_tag :positive, @word.positive, false %> 
      <%#= form.label :contet, "Answer" %>
      <%#= form.text_feild :content %>
      <!-- <input name="exam[correct_answer]" value="apple" type="radio"> -->
      <%# if .correct_answer %>
      <!-- <p class="label-success"><%#= form.title %></p>
    <%# else %>
      <p class="label-default"><%#= form.title %></p> -->
    <%# end %>

       <!-- <div> <%#= form.label :title, "Yes", :value => "true" %>
        <%#= form.radio_button :title, true %>
         <%#= form.label :title, "No", :value => "false" %> 
         <%#= form.radio_button :title, false, :checked => true %> 
       </div>  -->
      <%#= form.input :correct_answer, :label => 'Answer' %>
      <%#= form.radio_button :correct, true %>
      <%#= form.label :correct, 'Correct Answer' %>
      <%#= form.collection_radio_buttons :answer_id, question.answer.all, :id, :value %>
      